{% extends 'base.html.twig' %}

{% block title %}Creation de categorie{% endblock %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between">
        <h1>Creation de categorie</h1>
        <p><a class="btn btn-primary" href="{{ path('categorie_index') }}">Retour</a></p>
    </div>

    {{ include('components/pages/categorie/_form.html.twig') }}

    
</div>
{% endblock %}
