{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('components/pages/categorie/_form.html.twig') }}

    <a href="{{ path('categorie_new') }}">back to list</a>
{% endblock %}
