<form method="post" action="{{ path('commande_product_delete', {'id': commande_product.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commande_product.id) }}">
    <button class="btn">Delete</button>
</form>
