{% extends 'base.html.twig' %}

{% block title %}Edit CommandeProduct{% endblock %}

{% block body %}
    <h1>Edit CommandeProduct</h1>

    {{ include('components/pages/commande_product/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commande_product_index') }}">back to list</a>

    {{ include('components/pages/commande_product/_delete_form.html.twig') }}
{% endblock %}
