{% extends 'base.html.twig' %}

{% block title %}Modification Producteur{% endblock %}

{% block body %}
    <h1>Modification Producteur</h1>

    {{ include('producer/_form.html.twig', {'button_label': 'Update', 'btn_class': 'btnorange'}) }}

    <a href="{{ path('producer_index') }}">Retour</a>

    {{ include('components/pages/producer/_delete_form.html.twig') }}
{% endblock %}
