{% extends 'base.html.twig' %}

{% block title %}ePotager - Accueil{% endblock %}

{% block body %}
        <!-- carousel -->
        
        <div id="carouselhome" class="carousel slide" data-ride="carousel">
          
          
          <div class="carouOver"></div>
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="textCarou d-flex flex-column text-white">
                <h3>MICHEL ET SES POMMES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi eaque, sequi saepe voluptate aliquid? <br> Nulla asperiores eaque expedita laboriosam deserunt.</p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
              </div>
              <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <div class="textCarou d-flex flex-column text-white">
                <h3>NOUVELLES FRAISES</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi eaque, sequi saepe voluptate aliquid? <br> Nulla asperiores eaque expedita laboriosam deserunt.</p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
              </div>
              <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <div class="textCarou d-flex flex-column text-white">
                <h3>ENFIN DES EPINARDS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Eligendi eaque, sequi saepe voluptate aliquid? <br> Nulla asperiores eaque expedita laboriosam deserunt.</p>
                <input type="button" class="btn btnorange text-white ml-3" value="Voir le produit" />
              </div>
              <img src="{{ asset("img/carou1.jpg") }}" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>

        <!-- cards -->






{% endblock %}
