{% extends "components/pages/product/type.html.twig" %}


{% block zeList %}
<!-- cards -->
<div class="ligne-grise mx-auto"></div>

    <div class="input-product d-flex justify-content-center">
        <div class="input-group col-3 m-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="ri-search-line"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Rechercher un produit..." aria-label="Rechercher..." aria-describedby="basic-addon1" />
        </div>
    </div>
    
    <div class="ligne-grise mx-auto mb-4"></div>
    <h3 class="titreCards1"><span class="cadre-titre-vert px-2">Tous</span>&nbsp;leurs produits pour vous.</h3>
    <div class="row py-3 justify-content-center cardsProd">
    
    {% if categories is defined %}
        <div class="row my-3 justify-content-center cardsCat">
            {% for categorie in categories %}
                <div class="card text-white m-3">
                    <div  style="background-image: url('{{ asset("upload/categories/" ~ categorie.file.0.path) }}');"></div>
                    <a href="{{ path('product_categorie_show', {'id' : categorie.id})}}">
                        <div class="card-img-overlay">
                            <h4 class="card-title cadre-titre-vert">{{ categorie.nom }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    </div> 
</div>
{% endblock %}