{% extends 'base.html.twig' %}
{% block title %}Nos catégories de produits{% endblock %}

{% block body %}

<!-- bannière -->

<div class="banniProd1 mb-5">
    <div class="card text-white">
        <div class="bannier-producer">
        <img src="{{ asset("img/fonProd.jpg") }}" class="card-img" alt="..." />
        </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title p-3">{{ (categorie is defined) ? title ~ ' ' ~ categorie.nom: 'Toutes les catégories'}}</h2>
            <!-- <p class="texte">Le meilleur de leurs produits !</p> -->
        </div>
    </div>
</div>
,




{% block zeList %}{% endblock %}




{% endblock %}