{% extends 'base.html.twig' %}

{% block title %}Panel ADMIN{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello</h1>

    Pour accéder au CRUDs :
    <ul>
        <li class="vert">
            <a class="nav-link vert" href="{{ path('product_index') }}">CRUD Produits</a>
        </li>
        <li class ="violet">
            <a class="nav-link violet" href="{{ path('producer_index') }}">CRUD Producteurs</a>
        </li>
    </ul>
</div>
{% endblock %}
