{% extends 'base.html.twig' %}

{% block title %}ePotager - Concept{% endblock %} 
{% block body %}
<div class="banniCon2 mb-5">
    <div class="card text-white">
        <div class="bannier-product">
        <img class="img-bannier" src="{{ asset("img/fruitLegume.jpg") }}" class="card-img" alt="fruitLegume" />
    </div>
        <div class="card-img-overlay d-flex align-items-center justify-content-center d-flex flex-column">
            <h2 class="card-title p-3">Quelques explications</h2>
        </div>
    </div>
</div>
<div class="container">
    <h4>E-potager est un projet idéaliste, laisse-moi te raconter notre rêve...</h4>
    <br>
    <p>Démocratiser le bien-manger local.</p>
    <p>Il sera une fois, où tous les commerçants éthiques et les producteurs responsables auront créé gratuitement
        leur boutique en ligne sur e-potager. Les eco-consommateurs se presseront sur la plateforme pour faire leurs
        courses en circuit court. E-potager, forte de sa notoriété, pourra alors évoluer. Elle se transformera en plateforme
        de rencontre (non, je te vois venir, pas un remake de Tinder plutôt un forum citoyen) et créera un véritable réseau,
        duquel naîtront des discussions passionnées et des projets incroyables.</p>
    <p>Toi aussi, tu as envie de croire à ce conte de fée ? Alors crée ton compte achète ou vends des produits locaux, et parle
        de E-potager autour de toi !</p>
    <p>Notre ambition est de rassembler toutes les initiatives de vente directe sur une même plateforme pour permettre d’acheter
        directement ses produits frais chez un producteur. On veut aider les producteurs et les magasins fermiers à se faire connaitre
        en leur donnant plus de visibilité.</p>
    <p>E-potager a pour objectif de rendre les produits locaux accessibles au plus grand nombre.</p>
    <p class="font-weight-bold">C’est meilleur pour ta santé, la planète et ton porte-monnaie !</p>
<br>
<br>
<br>
</div>
{% endblock %}
