@font-face {
    font-family: 'Noteworthy';
    font-style: normal;
    font-weight: normal;
    src: local('Noteworthy'), url('Noteworthy-Lt.woff') format('woff');
    }

body {
    margin:0;
    background-color: #f6f5ffa1;
    font-family: 'Quicksand', sans-serif !important;
}

.noteworthy {
    font-family: "Noteworthy";
    font-weight: bold;
}

.justify-content-evenly{
    justify-content: space-evenly!important;
}

/* Home page bannière */

#logo{
    height: 70px;
}

/* boutons */
.btnviolet {
    background-color: #7d4aa8;
    color: white;
    height: 37px;
}

.btnorange {
    background-color: #ff7e00;
    color: white;
    height: 37px;
}

.btnrouge {
    background-color: #ff0959;
    color: white;
    height: 37px;
}

.btnvert {
    background-color: #5c9c18;
    color: white !important;
    height: 37px;
}

.card-body>.btnvert:not(:hover) {
    background-color: white;
    color: #5c9c18 !important;
    border: solid 1px #5c9c18;
}

/* home page navbar */

.jaune {
    background-color: white;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
}

.nav-link {
    font-weight:bold;
}

.vert a{
    color: #5c9c18!important;
}
.vert:hover, .vert.active {
    border-bottom: 1px solid #5c9c18;
}


.violet a{
    color: #7d4aa8!important;
}
.violet:hover, .violet.active {
    border-bottom: 1px solid #7d4aa8;
    /* border-radius: .25rem; */
}

.rouge a{
color: #ff0959!important;
}
.rouge:hover, .rouge.active {
    border-bottom: 1px solid #ff0959;
}

.orange a{
    color: #ff7e00!important;
}
.orange:hover, .orange.active {
    border-bottom: 1px solid #ff7e00;
}

.gris{
    color: grey!important;
}
.gris:hover, .gris.active {
    border-bottom: 1px solid grey;
}


/* home page carousel */

.carouOver{
        position: absolute;
        z-index: 4;
        height: 100%;
        width: 100%;
        background-color: #5c9c1893;

        outline: 1px solid transparent;
}

.textCarou{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 100%;
}

#carouselhome {
max-height: 380px;
}

.carousel-item {
    max-height: 380px;
}


#carouselhome .carousel-control-next {
    position: absolute;
    z-index: 8!important;
}
#carouselhome .carousel-control-next-icon {
    background-image: none;
}


@media only screen and (min-width: 1000px) {

    .carouOver{
        -webkit-transform: skewX(
            -25deg
            ) translateX(-50%);
                transform: skewX(
            -25deg
            ) translateX(-50%);
    }

    .textCarou{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
    }
}

/* cards home page */

.bouton {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* changer de css plus tard */

/* debut responsive momo*/
@media (max-width: 991px)
{
    .container-card-producteur-home-page{
        padding-left: 15px !important;
    }
    .img-home-card-avis-client{
        display: flex;
        justify-content: center !important;
        margin-top: 20px
    }

    .titre-avis-client-home-page{
        text-align: center;
    }

    .texte-avis-client-home-page{
        text-align: center;
    }
}


/* fin responsive img-home-card-avis-client momo*/


/* cadres colorés pour les titres */
.cadre-titre-vert {
    font-family: "Noteworthy";
    background-color: #5c9c18;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
}

.cadre-titre-violet {
    font-family: "Noteworthy";
    background-color: #7d4aa8;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
}

.cadre-titre-rouge {
    font-family: "Noteworthy";
    background-color: #ff0959;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
}

.cadre-titre-orange {
    font-family: "Noteworthy";
    background-color: #ff7e00;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
}


/* background coloré quand on survole*/
.bgvert-hover:hover{
    background-color: #5c9c1860;
}

.bgviolet-hover:hover{
    background-color: #7d4aa860;
}

.bgrouge-hover:hover{
    background-color: #ff095960;
}

.bgorange-hover:hover{
    background-color: #ff800060;
}


.btnorange-inverse {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #ff7e00;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    background-color: white;
    color: #ff7e00;
}




/* fin de tableaux joli */
table.table-end-fit tr td:last-child,
table.table-end-fit tr th:last-child {
    width: 1%;
    white-space: nowrap;
}

.banniCon2 h2 {
    text-transform: uppercase;
    font-family: "Noteworthy";
    font-weight: bold;
    background-color: #ff0959;
    border-radius: .5rem;
    color: white;
}

.profile-avis {
    height: 100px;
    width: 100px;
    background-size:cover ;
    background-position:center;
    border-radius: 50px; 
} 

.liens-cruds > li{
    width: fit-content;
}