body {
    margin:0;
    background-color: #f6f5ffa1;
}

#logo{
    height: 70px;
}


.btnviolet {
    background-color: #7d4aa8;
    color: white;
    height: 37px;
}

.btnorange {
    background-color: #ff7e00;
    color: white;
}

.btnvert {
    background-color: #5c9c18;
    color: white;
    height: 37px;
}

.jaune {
    background-color: white;
    border-top: 1px solid #adb5bd;
    border-bottom: 1px solid #adb5bd;
}

.nav-link {
    font-weight: bold;
}

.vert a{
    color: #5c9c18!important;
}
.vert:hover, .vert.active {
    border-bottom: 0.5px solid #5c9c18;
}


.violet a{
    color: #7d4aa8!important;
}
.violet:hover, .violet.active {
    border-bottom: 0.5px solid #7d4aa8;
    /* border-radius: .25rem; */
}

.rouge a{
color: #ff0959!important;
}
.rouge:hover, .rouge.active {
    border-bottom: 0.5px solid #ff0959;
}

.orange a{
    color: #ff7e00!important;
}
.orange:hover, .orange.active {
    border-bottom: 0.5px solid #ff7e00;
}

.craouOver{
        position: absolute;
        z-index: 4;
        height: 100%;
        width: 100%;
        background-color: #5c9c1893;
        -webkit-transform: skewX(
    -25deg
    ) translateX(-50%);
        transform: skewX(
    -25deg
    ) translateX(-50%);
        outline: 1px solid transparent;
}

.textCarou{
    position: absolute;
    z-index: 6;
    height: 100%;
    width: 50%;
}

#carouselhome {
max-height: 380px;
}

.carousel-item {
    max-height: 380px;
}