.card-img-overlay {
  position: absolute;
  z-index: 4;
  height: 100%;
  width: 100%;
  background-color: #00000069;

  outline: 1px solid transparent;
}

.titreCards1 {
display: flex;
justify-content: center;
}