.card-img-overlay {
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: #00000060;
    /* outline: 1px solid transparent; */
}

.banniProd1 h2,
.titreCards1 span {
    font-family: "Noteworthy";
    font-weight: bold;
    background-color: #5c9c18;
    border-radius: .5rem;
    color: white;
}
.banniProd1 p {
    font-size: larger;
}

.titreCards1 {
    display: flex;
    justify-content: center;
    /* color: #5c9c18; */
}

.cardsCat h2,
.cardsProd h2 {
    text-transform: uppercase;
    font-family: "Noteworthy";
    font-weight: bold;
}

.cardsProd > .card > div {
    width: 500px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.cardsCat > .card > div {
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.cardsProd>.card>.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardsProd h2{
    background-color: #5c9c18;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
    width: fit-content;
}

.cardsProd h4{
    text-transform: uppercase;
    font-family: "Noteworthy";
    font-weight: bold;
    background-color: #5c9c18;
    border-radius: .5rem;
    color: white;
    padding: .5rem;
    width: fit-content;
    margin-bottom: 0;
}