{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Page non trouvée</h1>
    <p>La page que vous cherchez n'a pas été trouvée</p>
    <p>
        La page demandée n'a pas pu être localisée. Checkout pour n'importe quelle URL
        faute d'orthographe ou <a href="{{ path('homepage') }}">retour à la page d'accueil</a>.
    </p>
    <p>Le code est : {{status_code}}</p>
    <p>Le texte est : {{status_text}}</p>
{% endblock %}
